MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=digital_milk_dairy
SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
DEVELOPER_USERNAME=developer
DEVELOPER_PASSWORD=CHANGE_THIS_DEVELOPER_PASSWORD
